spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  application:
    name: rm-farma
  datasource:
    url: jdbc:mysql://localhost:3306/magistral_farma
#    username: phpmyadmin
    username: root
    password: Cl1.m4r,.2023
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      jdbc:
        batch_versioned_data: true
      hibernate:
        format_sql: true
server:
  port: 8080
  servlet:
    context-path: /rm-farma