spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  application:
    name: rm-farma
  datasource:
    url: jdbc:mysql://localhost:3306/magistral_farma
#    username: phpmyadmin
    username: root
    password: Cl1.m4r,.2023
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      jdbc:
        batch_versioned_data: true
      hibernate:
        format_sql: false
        listeners:
          evers:
            autoRegister: true
        integration:
          evenrs:
            enabled: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
  servlet:
    context-path: /rm-farma